<?php
/** @var $block \Roweb\BannerSlider\Block\Banners */
$banners = $block->getFrontBanners();
$helper = $this->helper('\Roweb\BannerSlider\Helper\Data');
?>
<?php if ($helper->getEnable()) { ?>
    <div id="owl-banner-slider" class="banner-slider owl-carousel">
        <?php foreach ($banners as $banner): ?>
            <div class="items">
                <div class="banner-content">
                    <div class=banner-title>
                        <h3><?= $banner->getTitle() ?></h3>
                    </div>
                    <?php if ($banner->getLink() != ''): ?>
                        <a class="action primary banner-btn" href="<?= $banner->getLink() ?>">
                            <?= $banner->getLinkText() ?: $banner->getTitle() ?>
                        </a>
                    <?php endif; ?>
                </div>
                <img src="<?= $block->getMediaDirectoryUrl() . $banner->getImage() ?>">
            </div>
        <?php endforeach ?>
    </div>

    <script>
        require(['jquery', 'owlcarousel'], function ($) {
            $(document).ready(function () {
                $("#owl-banner-slider").owlCarousel({
                    items: 1,
                    responsive: {
                        0: {
                            items: 1
                        },
                        480: {
                            items: 1
                        },
                        768: {
                            items: 1
                        },
                        992: {
                            items: 1
                        },
                        1200: {
                            items: 1
                        }
                    },
                    autoplay: false,
                    loop: false,
                    nav: true,
                    dots: false,
                    margin: 0,
                });
            });
        });
    </script>
<?php } ?>