// Common
& when (@media-common = true) {
  .banner-slider {
    .banner-content {
      float: left;
      width: 100%;

      .banner-title {
        text-align: center;
        margin:     0 auto;
        width:      50%;
        position:   absolute;
        left:       0;
        right:      0;
        z-index:    10;

        h3 {
          font-size:   30px;
          color:       black;
          text-shadow: 1px 1px 3px white;
        }
      }

      .banner-btn {
        position: absolute;
        bottom:   30px;
        right:    30px;
      }
    }

    &.owl-carousel {

      .owl-nav {
        button.owl-prev, button.owl-next {
          position:         absolute;
          top:              50%;
          border:           1px solid white;
          padding:          0 20px 10px !important;
          background-color: rgba(0, 0, 0, 0.5);

          span {
            color:       white;
            font-size:   60px;
            line-height: 60px;
          }
        }

        button.owl-prev {
          left: 10px;
        }

        button.owl-next {
          right: 10px;
        }
      }
    }
  }
}

// Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .banner-slider {
    .banner-content {
      .banner-title {
        top: calc(50% ~'-' 70px);
      }

      .banner-btn {
        bottom:    unset;
        right:     unset;
        top:       50%;
        left:      50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// Tablet
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
}

//Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
}
